# Byte-compiled / optimized / DLL files
__pycache__/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
env/
venv/
.venv/

# IDE/editor
.vscode/
.idea/

# OS
.DS_Store

# Data / models
# emotion_model.h5  (now tracked via Git LFS)

# Notebook checkpoints
.ipynb_checkpoints/
